@import url('./home.css');
.navBar{

    height: 3rem;
    background: rgb(255, 255, 255);
    }
.menu-items {
        margin-right: 250px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none; /* Убираем точки в списке */
}
.menu-item{
        margin-right: 20px;
        color: rgb(255, 99, 0);
        font-family: DM Sans;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0%;
        text-align: left;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    
    }
    