.forms{
   padding-top: 3rem;
    width: 500px;     
height: 700px;    
background: #f8f7f7; 
margin: 0 auto; 
border-radius: 1rem;
}
/* myAccount.css */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
  
.form-h2{
    color: rgb(51, 49, 49);
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
padding-top: 1rem;
    margin-left: 12rem;
}
label{
    margin-left: 6rem;
    margin-bottom: 1.5rem;
    color: rgb(51, 51, 51);
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0%;
}
input{
    
    margin-left: 5rem;
    margin-bottom: 0.5rem;
   
width: 22.38rem;
height: 2.26rem;
box-sizing: border-box;
border: 0.19rem solid rgb(192, 227, 229);
border-radius: 0.85rem;
background: rgb(255, 255, 255);

color: rgb(151, 151, 151);
font-family: DM Sans;
font-size: 17px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0%;

}
.save-btn{
    margin-top: 1.7rem;
    margin-left: 15rem;

    color: rgb(151, 151, 151);
font-family: DM Sans;
font-size: 13px;
font-weight: 500;
border: none;
}